@charset "utf-8";


html, body { height: 100% }
body { background-color: #fff; color: #000; }
a { color: #000;}

/*배경동영상*/
video {
	position : fixed;
	top : 0; 
	left : 0;
	min-width : 100%;
	min-height : 100%;
	width : auto;
	height : auto;
	z-index : -1;
	background-size: cover;
}
article {height: 250px; text-transform: capitalize; position: absolute; top: 30%; left: 8%; }
article>h4 { font-size: 14px; font-weight: 300;}
article>h1 { font-size: 48px; font-weight: 600; margin: 20px 0; line-height: 1.2;}
article>h1>span{ text-transform: uppercase; }
article>p { font-size: 20px; font-weight: 300; line-height: 1.2;}
article>h3 { font-size: 18px; font-weight: 700; text-decoration: underline; margin-top: 30px;}
article>h3 a:hover {color: #6495ED; }