@charset "utf-8";

html, body { height: 100% }
body { background-color: #fff; color: #000; }
a { color:  #000;}

article { position: relative; }
.header { position: absolute; top: 100px; left: 12%; text-transform: capitalize;}
.header h6 { font-size: 14px;font-weight: 700; height: 10px;}
.header h2 { font-size: 20px; font-weight: 700; margin: 30px 0; }
.header h6 a:hover { color: #6495ED; } 


.wrap { position: absolute; top: 250px; left: 14%;width: 60%; line-height: 1.8;}
.wrap div { float: left; }
.wrap #graph { width: 63%; }
.wrap #skill { width: 37%; }
.wrap p { font-size: 16px; margin: 60px 0; font-weight: 300;}